<h1>Dashboard</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
<br><br>
<%= markdown '## Variable expansion by ${organization-name}' %>
<%= markdown '_Example_ of [Markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet).' %>
<%= markdown 'Checking we are **not** <script>alert("Hacked");</script>' %>
