<div class="company-logo">
  <%= inline_svg('company-logo.svg', title: 'Home', nocomment: true, class: 'company-logo') %>
</div>

<h1>Company Home Page</h1>

<% if authenticated? -%>
    <%= link_to 'My dashboard ', dashboard_path, class: 'dashboard' %>
<% else -%>
    <a class="login" onclick="signin()">Login</a>
<% end -%>
